<div class="sampleClass"></div>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 left-sidebar">
                <div class="widget widget-btn">
                    <button type="button" data-toggle="modal" class="action ask-question">
                    <i class="fa fa-plus"></i> ĐẶT LỆNH ?</button>
                </div>
                <!-- END BUTTON MODAL QUESTION -->
                <div class="widget widget-menus">
                    <div class="menu-left-menu-container">
                        <ul id="menu-left-menu" class="menu">
                            <li class="fa-question-circle"><a href="index.html"><i class="fa fa-question-circle"></i>Danh sách đặt lệnh</a></li>
                            <li class="fa-tags"><a href="tags/index.html"><i class="fa fa-tags"></i>Tags</a></li>
                            <li class="fa-trophy"><a href="danh-hieu/index.html"><i class="fa fa-trophy"></i>Danh hiệu</a></li>
                            <li class="fa-th-list"><a href="the-loai/index.html"><i class="fa fa-th-list"></i>Thể loại</a></li>
                            <li class="fa-users"><a href="thanh-vien/index.html"><i class="fa fa-users"></i>Thành viên</a></li>
                        </ul>
                    </div>
                </div>
                <!-- END LEFT MENU -->
                <div class="clearfix"></div>
                <!-- SOCIAL LINKs -->
                <div class="social-links">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/pages/FaceCRMvn/101449530204919" target="_blank" class="social fb">
                            <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/+FacecrmVnn" target="_blank" class="social gg">
                            <i class="fa fa-google"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/c/FacecrmVnn" target="_blank" class="social yt">
                            <i class="fa fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END / SOCIAL LINKs -->
                <div class="copyright">
                    &copy;2015 FaceCRM.vn <br>
                    <a href="quy-dinh-va-noi-quy/index.html">Quy định & nội quy</a>
                </div>
            </div>
            <!-- END LEFT-SIDEBAR -->
        </div>
    </div>
</nav>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 right-sidebar">
                <div class="widget widget-statistic">
                    <p class="questions-count">
                        Tổng câu hỏi<br>
                        <span>1</span>
                    </p>
                    <p class="members-count">
                        Thành viên<br>
                        <span>4</span>
                    </p>
                </div>
                <!-- END widget-statistic -->
                <div class="widget widget-hot-questions">
                    <h3>Câu hỏi nổi bật trong tuần</h3>
                    <ul>
                        <li>
                            <a href="cau-hoi/what-do-you-page/index.html">
                            <span class="topic-avatar">
                            <img src="http://1.gravatar.com/avatar/12e6c0e6b6a8d9855abd772fc3ec00df?s=30&amp;d=mm&amp;r=g" class="avatar" alt="" />                    </span>
                            <span class="topic-title">what  do you page?</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END widget-related-tags -->
                <div class="widget widget-related-tags">
                    <h3>Tags</h3>
                    <!-- <ul> -->
                    <!-- <li> -->
                    <a class="q-tag" href="cau-hoi-tag/huong-dan/index.html">hướng dẫn</a><!--  x 1 -->
                    <!-- </li> -->
                    <!-- <li> -->
                    <a class="q-tag" href="cau-hoi-tag/gop-y/index.html">góp ý</a><!--  x 1 -->
                    <!-- </li> -->
                    <!-- <li> -->
                    <a class="q-tag" href="cau-hoi-tag/ho-tro/index.html">hỗ trợ</a><!--  x 1 -->
                    <!-- </li> -->
                    <!-- <li> -->
                    <a class="q-tag" href="cau-hoi-tag/bao-loi/index.html">báo lỗi</a><!--  x 1 -->
                    <!-- </li> -->
                    <!-- <li> -->
                    <a class="q-tag" href="cau-hoi-tag/google-adwords/index.html">google adwords</a><!--  x 0 -->
                    <!-- </li> -->
                    <!-- <li> -->
                    <a class="q-tag" href="cau-hoi-tag/marketing/index.html">marketing</a><!--  x 0 -->
                    <!-- </li> -->
                    <!-- <li> -->
                    <a class="q-tag" href="cau-hoi-tag/facebook/index.html">facebook</a><!--  x 0 -->
                    <!-- </li> -->
                    <!-- <li> -->
                    <a class="q-tag" href="cau-hoi-tag/kinh-nghiem/index.html">kinh nghiệm</a><!--  x 0 -->
                    <!-- </li> -->
                    <!-- </ul> --><br/>
                    <a href="tags/index.html">Xem thêm các thẻ</a>
                </div>
                <!-- END widget-related-tags -->
                <div class="widget user-widget">
                    <h3 class="widgettitle">Top thành viên điểm cao</h3>
                    <div class="hot-user-question">
                        <ul>
                            <li>
                                <span class="number">1</span>
                                <span class="username ">
                                <a href="thanh-vien/sieunhan/index.html" title="Siêu Nhân">
                                Siêu Nhân                       </a>
                                </span>
                                <span class="points-count" title="11 Point(s)">
                                <i class="fa fa-star"></i>
                                <span>11</span>
                                </span>
                            </li>
                            <li>
                                <span class="number">2</span>
                                <span class="username ">
                                <a href="thanh-vien/thinhit/index.html" title="Thinhit">
                                Thinhit                     </a>
                                </span>
                                <span class="points-count" title="1 Point(s)">
                                <i class="fa fa-star"></i>
                                <span>1</span>
                                </span>
                            </li>
                            <li>
                                <span class="number">3</span>
                                <span class="username ">
                                <a href="thanh-vien/daotc/index.html" title="daotc">
                                daotc                       </a>
                                </span>
                                <span class="points-count" title="1 Point(s)">
                                <i class="fa fa-star"></i>
                                <span>1</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END RIGHT-SIDEBAR -->
        </div>
    </div>
</nav>



<nav class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-top" id="cbp-spmenu-s3">
    <ul class="menu-res">
        <li  class="menu-item"><a href="index.html">Trang chủ</a></li>
        <li id="menu-item-1997" class="menu-item"><a href="gioi-thieu/index.html">Giới thiệu</a></li>
        <li id="menu-item-1989" class="menu-item"><a href="http://facecrm.vn/">Blog</a></li>
        <li id="menu-item-1990" class="menu-item"><a href="quy-dinh-va-noi-quy/index.html">Quy định &#038; Nội quy</a></li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <header id="header">
            <div class="col-md-2 col-xs-2" id="logo">
                <a >
                <img src="style\img\logo.png">
                </a>
            </div>
            <!-- logo -->
            <div id="menu_qa" class="col-md-8 col-xs-8">
                <div class="header-menu">
                    <ul>
                        <li><a href="index.html">Trang chủ</a></li>
                        <li><a href="gioi-thieu/index.html">Giới thiệu</a></li>
                        <li><a href="http://facecrm.vn/">Blog</a></li>
                        <li><a href="quy-dinh-va-noi-quy/index.html">Quy định &#038; Nội quy</a></li>
                    </ul>
                </div>
                <!-- menu -->
                <div class="header-search-wrapper">
                    <section class="buttonset">
                        <button id="showLeftPush"><i class="fa fa-question"></i></button>
                        <button id="showRightPush"><i class="fa fa-bar-chart-o"></i></button>
                        <!-- <button id="showLeft"><i class="fa fa-question"></i></button>
                            <button id="showRight"><i class="fa fa-bar-chart-o"></i></button> -->
                        <button id="showTop"><i class="fa fa-list"></i></button>
                    </section>
                    <form id="header_search" method="GET" action="http://faq.facecrm.vn/" class="disable-mobile-search">
                        <input type="text" name="keyword" value="" placeholder="Tìm kiếm  " autocomplete="off" />
                        <i class="fa fa-search"></i>
                        <div id="search_preview" class="search-preview empty"></div>
                    </form>
                </div>
                <!-- search -->
            </div>
            <div id="login_qa" class="col-md-2 col-xs-2 btn-group ">
                <a class="login-url" href="javascript:void(0)" data-toggle="modal">
                Đăng nhập hoặc Đăng kí                      
                </a>
            </div>
            <!-- avatar -->
        </header>
        <!-- END HEADER -->
        <div class="col-md-12 col-xs-12" id="header_sidebar">
        </div>
        <div class="col-md-2 disable-mobile left-sidebar">
            <div class="widget widget-btn">
                <button type="button" data-toggle="modal" class="action ask-question">
                <i class="fa fa-plus"></i> ĐẶT LỆNH</button>
            </div>
            <!-- END BUTTON MODAL QUESTION -->
            <div class="widget widget-menus">
                <div class="menu-left-menu-container">
                    <ul id="menu-left-menu-1" class="menu">
                        <li class="fa-question-circle menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-1876"><a href="index.html"><i class="fa fa-question-circle"></i>Danh sách đặt lệnh</a></li>
                        <li class="fa-tags menu-item menu-item-type-post_type menu-item-object-page menu-item-1965"><a href="tags/index.html"><i class="fa fa-tags"></i>Các dự án</a></li>
                        <li class="fa-trophy menu-item menu-item-type-post_type menu-item-object-page menu-item-1963"><a href="danh-hieu/index.html"><i class="fa fa-trophy"></i>Giao dịch</a></li>
                        <li class="fa-th-list menu-item menu-item-type-post_type menu-item-object-page menu-item-1966"><a href="the-loai/index.html"><i class="fa fa-th-list"></i>Cấu hình</a></li>
                        <li class="fa-users menu-item menu-item-type-post_type menu-item-object-page menu-item-1964"><a href="thanh-vien/index.html"><i class="fa fa-users"></i>Hỏi đáp</a></li>
                    </ul>
                </div>
            </div>
            <!-- END LEFT MENU -->
            <div class="clearfix"></div>
            <!-- SOCIAL LINKs -->
            <div class="social-links">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/pages/FaceCRMvn/101449530204919" target="_blank" class="social fb">
                        <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+FacecrmVnn" target="_blank" class="social gg">
                        <i class="fa fa-google"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/c/FacecrmVnn" target="_blank" class="social yt">
                        <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END / SOCIAL LINKs -->
            <div class="copyright">
                &copy;2015 FaceCRM.vn <br>
                <a href="quy-dinh-va-noi-quy/index.html">Quy định & nội quy</a>
            </div>
        </div>
        <!-- END LEFT-SIDEBAR -->    
        <div class="col-md-8 main-content">
            <div class="clearfix"></div>
            <div class="row select-category">
                <div class="col-md-6 col-xs-6 current-category">
                    <span>Danh sách lệnh đã đặt</span>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="select-categories-wrapper">
                        <div class="select-categories">
                            <select name='cat' id='move_to_category' class='select-grey-bg' >
                                <option value='0' selected='selected'>Lọc theo thể loại</option>
                                <option class="level-0" value="the-loai-cau-hoi/bao-loi/index.html">Báo lỗi</option>
                                <option class="level-0" value="the-loai-cau-hoi/chia-se-kinh-nghiem/index.html">Chia sẻ kinh nghiệm</option>
                                <option class="level-0" value="the-loai-cau-hoi/facebook-marketing/index.html">Facebook Marketing</option>
                                <option class="level-0" value="the-loai-cau-hoi/google-adwords/index.html">Google AdWords</option>
                                <option class="level-0" value="the-loai-cau-hoi/gop-y/index.html">Góp ý</option>
                                <option class="level-0" value="the-loai-cau-hoi/hoi-dap-huong-dan/index.html">Hỏi đáp &#8211; hướng dẫn</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row question-filter" id="question_filter">
                <div class="col-md-6 col-xs-6 sort-questions">
                    <ul>
                        <li>
                            <a class="active" href="index.html">Tất cả</a>
                        </li>
                        <li>
                            <a class="" href="index9372.html?sort=vote">Thành công</a>
                        </li>
                        <li>
                            <a class="" href="indexe803.html?sort=unanswer">Đang xử lý</a>
                        </li>
                        <li>
                            <a class="" href="indexe803.html?sort=unanswer">Chưa xử lý</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="number-of-questions-wrapper">
                        <span class="number-of-questions-text">Số bản ghi mỗi trang:</span>
                        <div class="number-of-questions">
                            <select id="filter-numbers" class="select-grey-bg">
                                <option  value="indexf6cc.html?numbers=20">20</option>
                                <option  value="index65f9.html?numbers=15">15</option>
                                <option selected value="index5481.html?numbers=10">10</option>
                                <option  value="index65a2.html?numbers=5">5</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END QUESTIONS-FILTER -->
            <div class="main-questions-list">
                <div class="table-responsive">
                    <table class="table table-border">
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                #Thông dự án
                            </th>
                            <th>
                                Thông khách hàng
                            </th>
                            <th>
                                Thông thanh toán
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th>
                                Tác vụ
                            </th>
                        </tr>

                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                <p><strong>Dự án Trung Văn 1 </strong><label class="label label-success">Đang chạy</label> </p>
                                <p><strong>Chủ đầu tư : </strong> Trung Văn Building <br/></p>

                            </td>
                            <td>
                                <p><i class="fa fa-user"></i> Nguyễn Văn Thịnh</p>
                                <p><i class="fa fa-inbox"></i> thinhnv@gmail.com</p>
                                <p><i class="fa fa-phone"></i> 0123.4356.678</p>
                                <p><i class="fa fa-info"></i> Số 18 - Tam Trinh - Hai Bà Trưng - Hà Nội</p>
                            </td>
                            <td>
                                <p><strong>Số tiền/căn </strong> : 2.000.000.000 vnđ</p>
                                <p><strong>Số % hoa hồng </strong> : 2%</p>
                                <p><strong>Tổng tiền hoa hông </strong> : 100.000.000 vnđ</p>
                            </td>
                            <td>
                                <label class="label label-success">Thành công</label>
                            </td>
                            <td>
                                <button class="btn btn-success btn-sm">Chỉnh sửa</button>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                <p><strong>Dự án Trung Văn 1 </strong><label class="label label-success">Đang chạy</label> </p>
                                <p><strong>Chủ đầu tư : </strong> Trung Văn Building <br/></p>

                            </td>
                            <td>
                                <p><i class="fa fa-user"></i> Nguyễn Văn Thịnh</p>
                                <p><i class="fa fa-inbox"></i> thinhnv@gmail.com</p>
                                <p><i class="fa fa-phone"></i> 0123.4356.678</p>
                                <p><i class="fa fa-info"></i> Số 18 - Tam Trinh - Hai Bà Trưng - Hà Nội</p>
                            </td>
                            <td>
                                <p><strong>Số tiền/căn </strong> : 2.000.000.000 vnđ</p>
                                <p><strong>Số % hoa hồng </strong> : 2%</p>
                                <p><strong>Tổng tiền hoa hông </strong> : 100.000.000 vnđ</p>
                            </td>
                            <td>
                                <label class="label label-danger">Bị hủy</label>
                            </td>
                            <td>
                                <button class="btn btn-success btn-sm">Chỉnh sửa</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                <p><strong>Dự án Trung Văn 1 </strong><label class="label label-success">Đang chạy</label> </p>
                                <p><strong>Chủ đầu tư : </strong> Trung Văn Building <br/></p>

                            </td>
                            <td>
                                <p><i class="fa fa-user"></i> Nguyễn Văn Thịnh</p>
                                <p><i class="fa fa-inbox"></i> thinhnv@gmail.com</p>
                                <p><i class="fa fa-phone"></i> 0123.4356.678</p>
                                <p><i class="fa fa-info"></i> Số 18 - Tam Trinh - Hai Bà Trưng - Hà Nội</p>
                            </td>
                            <td>
                                <p><strong>Số tiền/căn </strong> : 2.000.000.000 vnđ</p>
                                <p><strong>Số % hoa hồng </strong> : 2%</p>
                                <p><strong>Tổng tiền hoa hông </strong> : 100.000.000 vnđ</p>
                            </td>
                            <td>
                                <label class="label label-success">Thành công</label>
                            </td>
                            <td>
                                <button class="btn btn-success btn-sm">Chỉnh sửa</button>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                <p><strong>Dự án Trung Văn 1 </strong><label class="label label-success">Đang chạy</label> </p>
                                <p><strong>Chủ đầu tư : </strong> Trung Văn Building <br/></p>

                            </td>
                            <td>
                                <p><i class="fa fa-user"></i> Nguyễn Văn Thịnh</p>
                                <p><i class="fa fa-inbox"></i> thinhnv@gmail.com</p>
                                <p><i class="fa fa-phone"></i> 0123.4356.678</p>
                                <p><i class="fa fa-info"></i> Số 18 - Tam Trinh - Hai Bà Trưng - Hà Nội</p>
                            </td>
                            <td>
                                <p><strong>Số tiền/căn </strong> : 2.000.000.000 vnđ</p>
                                <p><strong>Số % hoa hồng </strong> : 2%</p>
                                <p><strong>Tổng tiền hoa hông </strong> : 100.000.000 vnđ</p>
                            </td>
                            <td>
                                <label class="label label-success">Thành công</label>
                            </td>
                            <td>
                                <button class="btn btn-success btn-sm">Chỉnh sửa</button>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                <p><strong>Dự án Trung Văn 1 </strong><label class="label label-success">Đang chạy</label> </p>
                                <p><strong>Chủ đầu tư : </strong> Trung Văn Building <br/></p>

                            </td>
                            <td>
                                <p><i class="fa fa-user"></i> Nguyễn Văn Thịnh</p>
                                <p><i class="fa fa-inbox"></i> thinhnv@gmail.com</p>
                                <p><i class="fa fa-phone"></i> 0123.4356.678</p>
                                <p><i class="fa fa-info"></i> Số 18 - Tam Trinh - Hai Bà Trưng - Hà Nội</p>
                            </td>
                            <td>
                                <p><strong>Số tiền/căn </strong> : 2.000.000.000 vnđ</p>
                                <p><strong>Số % hoa hồng </strong> : 2%</p>
                                <p><strong>Tổng tiền hoa hông </strong> : 100.000.000 vnđ</p>
                            </td>
                            <td>
                                <label class="label label-success">Thành công</label>
                            </td>
                            <td>
                                <button class="btn btn-success btn-sm">Chỉnh sửa</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END MAIN-QUESTIONS-LIST -->
            <div class="row paginations home">
                <div class="col-md-12">
                </div>
            </div>
            <!-- END MAIN-PAGINATIONS -->
            <div class="clearfix"></div>
        </div>
        <div class="col-md-2 disable-mobile right-sidebar">
            <div class="widget widget-statistic">
                <p class="questions-count">
                    Tổng câu hỏi<br>
                    <span>1</span>
                </p>
                <p class="members-count">
                    Thành viên<br>
                    <span>4</span>
                </p>
            </div>
            <!-- END widget-statistic -->
            <div class="widget widget-hot-questions">
                <h3>Câu hỏi nổi bật trong tuần</h3>
                <ul>
                    <li>
                        <a href="cau-hoi/what-do-you-page/index.html">
                        <span class="topic-avatar">
                        <img src="http://1.gravatar.com/avatar/12e6c0e6b6a8d9855abd772fc3ec00df?s=30&amp;d=mm&amp;r=g" class="avatar" alt="" />                    </span>
                        <span class="topic-title">what  do you page?</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END widget-related-tags -->
            <div class="widget widget-related-tags">
                <h3>Tags</h3>
                <!-- <ul> -->
                <!-- <li> -->
                <a class="q-tag" href="cau-hoi-tag/huong-dan/index.html">hướng dẫn</a><!--  x 1 -->
                <!-- </li> -->
                <!-- <li> -->
                <a class="q-tag" href="cau-hoi-tag/gop-y/index.html">góp ý</a><!--  x 1 -->
                <!-- </li> -->
                <!-- <li> -->
                <a class="q-tag" href="cau-hoi-tag/ho-tro/index.html">hỗ trợ</a><!--  x 1 -->
                <!-- </li> -->
                <!-- <li> -->
                <a class="q-tag" href="cau-hoi-tag/bao-loi/index.html">báo lỗi</a><!--  x 1 -->
                <!-- </li> -->
                <!-- <li> -->
                <a class="q-tag" href="cau-hoi-tag/google-adwords/index.html">google adwords</a><!--  x 0 -->
                <!-- </li> -->
                <!-- <li> -->
                <a class="q-tag" href="cau-hoi-tag/marketing/index.html">marketing</a><!--  x 0 -->
                <!-- </li> -->
                <!-- <li> -->
                <a class="q-tag" href="cau-hoi-tag/facebook/index.html">facebook</a><!--  x 0 -->
                <!-- </li> -->
                <!-- <li> -->
                <a class="q-tag" href="cau-hoi-tag/kinh-nghiem/index.html">kinh nghiệm</a><!--  x 0 -->
                <!-- </li> -->
                <!-- </ul> --><br/>
                <a href="tags/index.html">Xem thêm các thẻ</a>
            </div>
            <!-- END widget-related-tags -->
            <div class="widget user-widget">
                <h3 class="widgettitle">Top thành viên điểm cao</h3>
                <div class="hot-user-question">
                    <ul>
                        <li>
                            <span class="number">1</span>
                            <span class="username ">
                            <a href="thanh-vien/sieunhan/index.html" title="Siêu Nhân">
                            Siêu Nhân                       </a>
                            </span>
                            <span class="points-count" title="11 Point(s)">
                            <i class="fa fa-star"></i>
                            <span>11</span>
                            </span>
                        </li>
                        <li>
                            <span class="number">2</span>
                            <span class="username ">
                            <a href="thanh-vien/thinhit/index.html" title="Thinhit">
                            Thinhit                     </a>
                            </span>
                            <span class="points-count" title="1 Point(s)">
                            <i class="fa fa-star"></i>
                            <span>1</span>
                            </span>
                        </li>
                        <li>
                            <span class="number">3</span>
                            <span class="username ">
                            <a href="thanh-vien/daotc/index.html" title="daotc">
                            daotc                       </a>
                            </span>
                            <span class="points-count" title="1 Point(s)">
                            <i class="fa fa-star"></i>
                            <span>1</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END RIGHT-SIDEBAR -->          
    </div>
    <!-- END ROW -->
</div>
<!-- END CONTAINER-FLUID -->
<div style="display:none;">
    <div id="wp-temp_id-wrap" class="wp-core-ui wp-editor-wrap html-active">
        <link rel='stylesheet' id='dashicons-css'  href='wp-includes/css/dashicons.min.css?ver=4.2.2' type='text/css' media='all' />
        <link rel='stylesheet' id='editor-buttons-css'  href='wp-includes/css/editor.min.css?ver=4.2.2' type='text/css' media='all' />
        <div id="wp-temp_id-editor-container" class="wp-editor-container"><textarea class="wp-editor-area" rows="20" tabindex="5" cols="40" name="post_content" id="temp_id"></textarea></div>
    </div>
</div>
<!-- MODAL LOGIN / REGISTER -->
<div class="modal fade modal-submit-questions" id="login_register" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title modal-title-sign-in" id="myModalLabel">Đăng Nhập</h4>
            </div>
            <div class="modal-body">
                <form id="signin_form" class="form_modal_style">
                    <label for="username">
                    Tên người dùng hoặc email                   </label>
                    <input type="text" class="email_user"  name="username" id="username" />
                    <label for="password">
                    Mật khẩu                    </label>
                    <input type="password" class="password_user" id="password" name="password">
                    <a href="javascript:void(0)" class="link_forgot_pass">Quên mật khẩu</a>
                    <div class="clearfix"></div>
                    <input type="submit" name="submit" value="Đăng nhập" class="btn-submit">
                    <a href="javascript:void(0)" class="link_sign_up">Đăng ký</a>
                    <ul class="social-icon clearfix">
                        <!-- google plus login -->
                        <!-- twitter plus login -->
                        <!-- facebook plus login -->
                    </ul>
                </form>
                <form id="signup_form" class="form_modal_style">
                    <label for="username">
                    Tên đăng nhập                   </label>
                    <input type="text" class="name_user" name="username" id="username" />
                    <label for="email">
                    Email                   </label>
                    <input type="text" class="email_user" name="email" id="email" />
                    <label for="password1">
                    Mật khẩu                    </label>
                    <input type="password" class="password_user_signup" id="password1" name="password" />
                    <label for="re_password">
                    Nhập Lại Mật Khẩu                   </label>
                    <input type="password" class="repeat_password_user_signup" id="re_password" name="re_password" />
                    <div class="clearfix"></div>
                    <div class="gg-captcha">
                    </div>
                    <input type="submit" name="submit" value="Đăng ký" class="btn-submit">
                    <a href="javascript:void(0)" class="link_sign_in">Đăng nhập</a>
                    <div class="clearfix"></div>
                    <p class="policy-sign-up">
                        Bằng cách nhấn vào "Đăng lên" bạn chỉ ra rằng bạn đã đọc và đồng ý với chính sách bảo mật </a> <a target="_blank" href="quy-dinh-va-noi-quy/index.html"> và <a target = "_ blank" href = "quy-dinh-va-noi-quy/index.html" > điều khoản chúng tôi. </a>                  
                    </p>
                </form>
                <form id="forgotpass_form" class="form_modal_style collapse">
                    <label>Nhập email của bạn ở đây</label>
                    <input type="text" class="name_user" name="email" id="email" />
                    <input type="submit" name="submit" value="Gửi" class="btn-submit">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- MODAL LOGIN / REGISTER -->
<!-- MODAL RESET PASSWORD -->
<div class="modal fade modal-submit-questions" id="reset_password" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title modal-title-sign-in" id="myModalLabel">Đặt Lại Mật Khẩu</h4>
            </div>
            <div class="modal-body">
                <form id="resetpass_form" class="form_modal_style">
                    <input type="hidden" id="user_login" name="user_login" value="" />
                    <input type="hidden" id="user_key" name="user_key" value="">                
                    <label>Nhập mật khẩu mới của bạn ở đây</label>
                    <input type="password" class="name_user" name="new_password" id="new_password" />
                    <input type="password" class="name_user" name="re_new_password" id="re_new_password" />
                    <input type="submit" name="submit" value="Thiết lập lại" class="btn-submit">
                </form>
            </div>
        </div>
    </div>
</div>