<div class="clearfix"></div>
<div class="row select-category">
    <div class="col-md-6 col-xs-6 current-category">
        <span>Danh sách dự án</span>
    </div>
<!--     <div class="col-md-6 col-xs-6">
    <div class="select-categories-wrapper">
        <div class="select-categories">
            <select name='cat' id='move_to_category' class='select-grey-bg'>
                <option value='0' selected='selected'>Lọc theo thể loại</option>
            </select>
        </div>
    </div>
</div>
 --></div>

<div class="row question-filter" id="question_filter">
    
    <div class="col-md-6 col-xs-6 col-md-offset-6">
        <div class="number-of-questions-wrapper">
            <span class="number-of-questions-text">Số bản ghi mỗi trang:</span>
            <div class="number-of-questions">
                <select id="filter-numbers" class="select-grey-bg">
                    <option  value="indexf6cc.html?numbers=20">20</option>
                    <option  value="index65f9.html?numbers=15">15</option>
                    <option selected value="index5481.html?numbers=10">10</option>
                    <option  value="index65a2.html?numbers=5">5</option>
                </select>
            </div>
        </div>
    </div>
</div>
<!-- END QUESTIONS-FILTER -->
<div class="main-questions-list">
    <div class="row1">
        <div class="col-md-6" ng-repeat="item in list_projects">
            <div class="media">
                <div class="media-left pull-left">
                    <a href="#">
                        <img class="media-object" src="https://avatars3.githubusercontent.com/u/618009?v=3&s=96" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{item.title}}</h4>
                    <p ng-bind-html="item.content">
                        
                    </p>
                </div>
            </div>
        </div>

    </div>
    

</div>
<!-- END MAIN-QUESTIONS-LIST -->
<div class="row paginations home">
    <div class="col-md-12">
    </div>
</div>
<!-- END MAIN-PAGINATIONS -->
<div class="clearfix"></div>