<div class="col-md-2 disable-mobile left-sidebar">
    <div class="widget widget-btn">

        <button type="button" data-toggle="modal" class="action ask-question" ng-click="$state.go('app.commands.create')">
        <i class="fa fa-plus"></i> ĐẶT LỆNH</button>
    </div>
    <!-- END BUTTON MODAL QUESTION -->
    <div class="widget widget-menus">
        <div class="menu-left-menu-container">
            <ul id="menu-left-menu-1" class="menu">
                <li class="fa-question-circle" ui-sref-active="current-menu-item"><a ui-sref="app.commands.list"><i class="fa fa-question-circle"></i>Danh sách đặt lệnh</a></li>
                <li class="fa-tags" ui-sref-active="current-menu-item"><a ui-sref="app.projects.create"><i class="fa fa-tags"></i>Tạo dự án</a></li>
                <li class="fa-tags" ui-sref-active="current-menu-item"><a ui-sref="app.projects.list"><i class="fa fa-tags"></i>Các dự án</a></li>
                <li class="fa-trophy"><a href="danh-hieu/index.html"><i class="fa fa-trophy"></i>Giao dịch</a></li>
                <li class="fa-th-list"><a href="the-loai/index.html"><i class="fa fa-th-list"></i>Cấu hình</a></li>
                <li class="fa-users"><a href="thanh-vien/index.html"><i class="fa fa-users"></i>Hỏi đáp</a></li>
            </ul>
        </div>
    </div>
    <!-- END LEFT MENU -->
    <div class="clearfix"></div>
    <!-- SOCIAL LINKs -->
    <div class="social-links">
        <ul>
            <li>
                <a href="https://www.facebook.com/pages/FaceCRMvn/101449530204919" target="_blank" class="social fb">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://plus.google.com/+FacecrmVnn" target="_blank" class="social gg">
                <i class="fa fa-google"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/c/FacecrmVnn" target="_blank" class="social yt">
                <i class="fa fa-youtube"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- END / SOCIAL LINKs -->
    <div class="copyright">
        <br>
        <a href="quy-dinh-va-noi-quy/index.html">Quy định & nội quy</a>
    </div>
</div>